[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
pillow = "*"
django-modeltranslation = "*"
django-tastypie = "*"
django-cors-headers = "*"
psycopg2 = "*"
sorl-thumbnail = "*"

[requires]
python_version = "3.8"
